.instruments {
    display: flex;
    justify-content: flex-start;

    .instrument:not(:last-child) {
        margin-right: -14px;
    }
}

.instrument {
    --gray: #333333;
    position: relative;
    height: 74px;
    width: 74px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 9999px;
    border: 1px solid var(--gray);
    box-shadow: 5px -5px 0px 0px var(--gray);
    background-color: #F5F5F3;
    transition: width .4s ease-in-out;

    @media screen and (max-width: 1200px) {
        height: 62px;
        width: 62px;
    }

    &:hover {
        width: 315px;
    }

    &__icon {
        height: 100%;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        background-image: var(--url);
        background-repeat: no-repeat;
        background-position: center;

        img {
            max-height: 100%;
        }
    }

    &#instrument-husband .instrument__icon {
        background-size: contain;
    }

    &__description {
        min-width: 215px;
        max-width: 215px;
        font-family: 'Suisse Intl', sans-serif;
        font-size: 14px;
        font-weight: 450;
        line-height: 120%;
        color: var(--gray);
    }

    &#instrument-figma {
        &:hover {
            width: 340px;
        }

        .instrument__description {
            min-width: 235px;
            max-width: 235px;
        }
    }

    &#instrument-husband {
        &:hover {
            width: 310px;
        }

        .instrument__icon {
            margin-right: 10px;
        }
    }
}