.step-1 {
    top: 20%;
    left: 20%;
}
.step-2 {
    top: 30%;
    left: 60%;
}
.step-3 {
    top: 42%;
    left: 40%;
}
.step-4 {
    top: 12%;
    left: 46%;
}
.step-5 {
    top: 63%;
    left: 56%;
}
.step-6 {
    top: 55%;
    left: 10%;
}
.step-7 {
    top: 36%;
    left: 25%;
}
.step-8 {
    top: 78%;
    left: 18%;
}
.step-9 {
    top: 70%;
    left: 35%;
}
@media screen and (max-width: 960px) {
    .step-1 {
        top: 0;
        left: 10%;
    }
    .step-2 {
        top: 7%;
        left: 16%;
    }
    .step-3 {
        top: 14%;
        left: 20%;
    }
    .step-4 {
        top: 21%;
        left: 24%;
    }
    .step-5 {
        top: 28%;
        left: 27%;
    }
    .step-6 {
        top: 35%;
        left: 24%;
    }
    .step-7 {
        top: 42%;
        left: 20%;
    }
    .step-8 {
        top: 62%;
        left: 15%;
    }
    .step-9 {
        top: 56%;
        left: 10%;
    }
}