.step-1 {
    top: 20vh;
    left: 20vw;
}
.step-2 {
    top: 30vh;
    left: 60vw;
}
.step-3 {
    top: 42vh;
    left: 40vw;
}
.step-4 {
    top: 12vh;
    left: 46vw;
}
.step-5 {
    top: 63vh;
    left: 56vw;
}
.step-6 {
    top: 55vh;
    left: 10vw;
}
.step-7 {
    top: 36vh;
    left: 25vw;
}
.step-8 {
    top: 68vh;
    left: 18vw;
}
.step-9 {
    top: 70vh;
    left: 35vw;
}